In [37]:
import pandas as pd
data_set = pd.read_csv("data_1.csv")
data_set.head()

,no,prodi,minat_ketelitian,minat_luar_ruangan,minat_alat,minat_pengobatan,minat_keterampilan,minat_kesejahteraan,minat_musik,minat_literasi,...,BAHASA INDONESIA,EKONOMI,SEJARAH,GEOGRAFI,SOSIOLOGI,SENI BUDAYA,KOMPUTER,AGAMA,OLAHRAGA,KEWIRAUSAHAAN
0,0,D3 Akuntansi,1,0,0,0,0,0,0,0,...,0,0,1,1,0,0,0,0,0,0
1,1,D4 Teknik informatika,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,2,D3 Akuntansi,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,3,D4 Teknik Informatika,0,0,1,0,1,1,0,0,...,1,0,0,0,0,0,0,0,0,0
4,4,D4 Teknik Elektro,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
data=pd.DataFrame({
    'a':data_set.iloc[:75, 2].values,
    'b':data_set.iloc[:75, 3].values,
    'c':data_set.iloc[:75, 4].values,
    'prodi':data_set.iloc[:75, 5].values
})
data.head(75)

    a  b  c                   prodi
0   1  0  0            D3 Akuntansi
1   0  1  0  D4 Teknik informatika
2   1  0  0            D3 Akuntansi
3   0  0  1  D4 Teknik Informatika
4   0  0  0      D4 Teknik Elektro
.. .. .. ..                     ...
70  0  0  0     D4 Analis Kesehatan
71  0  0  0          S1 keperawatan
72  1  1  0     S1 Teknik Komputer
73  0  0  0     S1 Kedokteran Hewan
74  1  0  0           S1 Akuntansi

[75 rows x 4 columns]

In [28]:
import pandas as pd
data_set = pd.read_excel("data_5.xlsx")
data_set.head()

   no  a  b  c                   prodi
0   0  1  0  0            D3 Akuntansi
1   1  0  1  0  D4 Teknik informatika
2   2  1  0  0            D3 Akuntansi
3   3  0  0  1  D4 Teknik Informatika
4   4  0  0  0      D4 Teknik Elektro

In [33]:
# Import train_test_split function
from sklearn.model_selection import train_test_split

X=data[['a', 'b','c']]  # Features
y=data['prodi']  # Labels

#Extracting Independent and dependent Variable  
X= data_set.iloc[:75, 2:5].values  
y= data_set.iloc[:75, 5].values  

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3) # 70% training and 30% test

In [34]:
#Import Random Forest Model
from sklearn.ensemble import RandomForestClassifier

#Create a Random Forest Classifier
clf=RandomForestClassifier(n_estimators=100)

#Train the model using the training sets y_pred=clf.predict(X_test)
clf.fit(X_train,y_train)

y_pred=clf.predict(X_test)

In [35]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics

# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.0

In [29]:
data_set.to_csv('data_trainxxxx.csv')

In [39]:
data=pd.DataFrame({
    'minat_ketelitian':data_set.iloc[:75, 2].values,
    'minat_luar_ruangan':data_set.iloc[:75, 3].values,
    'minat_alat':data_set.iloc[:75, 4].values,
    'minat_pengobatan':data_set.iloc[:75, 5].values,
    'minat_keterampilan':data_set.iloc[:75, 6].values,
    'minat_kesejahteraan':data_set.iloc[:75, 7].values,
    'minat_musik':data_set.iloc[:75, 8].values,
    'minat_literasi':data_set.iloc[:75, 9].values,
    'minat_seni':data_set.iloc[:75, 10].values,
    'minat_diskusi':data_set.iloc[:75, 11].values,
    'minat_eksperimen':data_set.iloc[:75, 12].values,
    'minat_angka':data_set.iloc[:75, 13].values,
    'bakat_ketelitian':data_set.iloc[:75, 14].values,
    'bakat_luar_ruangan':data_set.iloc[:75, 15].values,
    'bakat_alat':data_set.iloc[:75, 16].values,
    'bakat_pengobatan':data_set.iloc[:75, 17].values,
    'bakat_keterampilan':data_set.iloc[:75, 18].values,
    'bakat_kesejahteraan':data_set.iloc[:75, 19].values,
    'bakat_musik':data_set.iloc[:75, 20].values,
    'bakat_literasi':data_set.iloc[:75, 21].values,
    'bakat_seni':data_set.iloc[:75, 22].values,
    'bakat_diskusi':data_set.iloc[:75, 23].values,
    'bakat_eksperimen':data_set.iloc[:75, 24].values,
    'bakat_angka':data_set.iloc[:75, 25].values,
    'MTK':data_set.iloc[:75, 26].values,
    'FISIKA':data_set.iloc[:75, 27].values,
    'KIMIA':data_set.iloc[:75, 28].values,
    'BIOLOGI':data_set.iloc[:75,29].values,
    'BAHASA INGGRIS':data_set.iloc[:75, 30].values,
    'BAHASA INDONESIA':data_set.iloc[:75, 31].values,
    'EKONOMI':data_set.iloc[:75, 32].values,
    'SEJARAH':data_set.iloc[:75, 33].values,
    'GEOGRAFI':data_set.iloc[:75, 34].values,
    'SOSIOLOGI':data_set.iloc[:75, 35].values,
    'SENI BUDAYA':data_set.iloc[:75, 36].values,
    'KOMPUTER':data_set.iloc[:75, 37].values,
    'AGAMA':data_set.iloc[:75, 38].values,
    'OLAHRAGA':data_set.iloc[:75, 39].values,
    'KEWIRAUSAHAAN':data_set.iloc[:75, 40].values,
    'prodi':data_set.iloc[:75, 1].values
})
data.head(75)

,minat_ketelitian,minat_luar_ruangan,minat_alat,minat_pengobatan,minat_keterampilan,minat_kesejahteraan,minat_musik,minat_literasi,minat_seni,minat_diskusi,...,EKONOMI,SEJARAH,GEOGRAFI,SOSIOLOGI,SENI BUDAYA,KOMPUTER,AGAMA,OLAHRAGA,KEWIRAUSAHAAN,prodi
0,1,0,0,0,0,0,0,0,0,0,...,0,1,1,0,0,0,0,0,0,D3 Akuntansi
1,0,1,0,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,D4 Teknik informatika
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,D3 Akuntansi
3,0,0,1,0,1,1,0,0,0,1,...,0,0,0,0,0,0,0,0,0,D4 Teknik Informatika
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,D4 Teknik Elektro
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,0,0,0,1,0,1,0,1,1,0,...,0,0,0,0,0,0,0,0,0,D4 Analis Kesehatan
71,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,S1 keperawatan
72,1,1,0,0,0,1,0,1,1,1,...,0,0,0,0,0,0,0,0,0,S1 Teknik Komputer
73,0,0,0,1,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,S1 Kedokteran Hewan
74,1,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,S1 Akuntansi

In [24]:
# Import train_test_split function
from sklearn.model_selection import train_test_split

X=data[['minat_ketelitian','minat_luar_ruangan','minat_alat','minat_pengobatan','minat_keterampilan','minat_kesejahteraan','minat_musik','minat_literasi','minat_seni','minat_diskusi','minat_eksperimen','minat_angka','bakat_ketelitian','bakat_luar_ruangan','bakat_alat','bakat_pengobatan','bakat_keterampilan','bakat_kesejahteraan','bakat_musik','bakat_literasi','bakat_seni','bakat_diskusi','bakat_eksperimen','bakat_angka','MTK','FISIKA','KIMIA','BIOLOGI','BAHASA INGGRIS','BAHASA INDONESIA','EKONOMI','SEJARAH','GEOGRAFI','SOSIOLOGI','SENI BUDAYA','KOMPUTER','AGAMA','OLAHRAGA','KEWIRAUSAHAAN']]  # Features
y=data['prodi']  # Labels

#Extracting Independent and dependent Variable  
X= data_set.iloc[:75, 1:34].values  
y= data_set.iloc[:75, 34].values  

# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3) # 70% training and 30% test

KeyError: ('minat_ketelitian', 'minat_luar_ruangan', 'minat_alat', 'minat_pengobatan', 'minat_keterampilan', 'minat_kesejahteraan', 'minat_musik', 'minat_seni', 'minat_diskusi', 'minat_eksperimen', 'minat_angka', 'bakat_ketelitian', 'bakat_luar_ruangan', 'bakat_alat', 'bakat_pengobatan', 'bakat_keterampilan', 'bakat_kesejahteraan', 'bakat_musik', 'bakat_seni', 'bakat_diskusi', 'MTK', 'FISIKA', 'KIMIA', 'BIOLOGI', 'BAHASA INGGRIS', 'BAHASA INDONESIA', 'EKONOMI', 'SEJARAH', 'GEOGRAFI', 'SOSIOLOGI', 'SENI BUDAYA', 'KOMPUTER', 'AGAMA', 'OLAHRAGA', 'KEWIRAUSAHAAN')